/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-image{
	position:absolute;
	opacity:0.5;
	width:1140px;
	z-index:99;
  pointer-events: none;
  display: none;
}
